<div class="list row">
  <div class="col-md-6">
    <h4>Lista de Países</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let pais of paises; let i = index" [class.active]="i == index"
        (click)="escolherPais(pais.codigoISO, i)">
        <p>Nome: {{ pais.nome }}</p>
        <p>Código Internacional ISO: {{ pais.codigoISO }}</p>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-detalhes [viewMode]="true" [paisSelecionado]="paisSelecionado"></app-detalhes>
  </div>
</div>